.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8585de;
  font-size: 25px;
  height: 50px;
}

.container a {
  text-decoration: none;
  color: snow;
}

.container a[class='active'] {
  color: #ffae00;
}
