.container{

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #da82e0;
  height: 50px;
}

.container a{
  text-decoration: none;
  font-size: 30px;
  color: snow;
}
